<?php

return [
    'host'   => 'localhost',
    'db'     => '',
    'user'   => '',
    'pass'   => '',
    'oracle' => [
        'host' => 'localhost',
        'user' => '',
        'pass' => '',
        'name' => '',
    ],
];
